<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="header">
<%= render "shared/header" %>
  </div>
  <div id="content">
<% if flash.notice %>
<p class="notice"><%= flash.notice %></p>
<% end %>
<p>ここに、本文を挿入する。</p>
<dv>ネット上の便宜で kusaq 文庫とすることがあるが、正式には窮作文庫である。「窮作」は、名である。姓ではない。文庫の扉が開かれ中の作品が順次紹介されている。今回は前回に引き続き作業場から新に、「ホームページの作成」という題目の作品が紹介される。さて、その他の作品も紹介しておく。</p>
<p>まず、「江戸の残照」である。これは自然に従い町を作っていった江戸を今の東京を丁寧に歩くことにより浮かびあがらせようとするものである。「お茶の水」、「日本橋」につづき「旧石神井川」を追加する。今後、順次その範囲を広げ発表してゆく。</p>
<p>次は、「謎解き京極、姑獲鳥の夏」、「謎解き京極、魍魎の匣」及び「謎解き京極、狂骨の夢」、「謎解き京極、鉄鼠の檻」、「謎解き京極、絡新婦の理」、「謎解き京極、塗仏の宴、宴の支度」、「謎解き京極、塗仏の宴、宴の始末」である。幻想的世界を扱い絶大な人気をもつ京極夏彦の作品に関するものである。事件が起り、謎が謎を呼ぶ。読者は話しの面白さに引きこまれ膨大複雑怪奇な謎と格闘して終幕に至る。そこにあっと驚く謎解きが展開する。この読者に謎解きの魅力をもっと伝えたいというのが作者の願いである。</p>
<p>次は、「私の奇妙な夢」という話である。これは「夢と希望」といったときの夢ではない。夜、寢ているときに見る夢である。これを朝、起きて記録したものである。見ているときは納得して見ていたのに、記録してみると随分でたらめである。どんどん、話しがずれてゆく。始めの話しの結末がないままに終わる。意味不明である。しかし良く考えてみると、自分の人生とどこかでつながっている。奇妙な懐しさが漂う。作者はここに自分と自分の世界を見る。だから面白いという。</p>
<p>その次は、「数ぞう君の夢」という話しを紹介する。今回、その１、その２にくわえて、その３である。数ぞう君という小学生が近所の徳さんという病気の子どもとの対話をとおして世界の秩序をのぞこうという話しである。私立中学校の入試問題に取り組むことにより優れた数学的頭脳をもった徳さんの考えを理解し、成長してゆく話しである。順次、問題が紹介されるが、最後のほうでは、大人でも解けないような難しい問題が出てくる。</p>
<p>その次は、「母のこと」である。高齢の母と自分もいいかげん高齢となった作者が母のことを思いまとめたものである。小品である。</p>
<p>その次は、「前置きと例えに富む話し」である。人と人の関係という悩ましい問題を考えてみたものである。</p>
<p>なお、「文庫の作業場」を設けている。これは文庫の作品がどのような作業で閲覧に供されるのかとか、必要な作業などを解説するものである。今回も一点<b>追加</b>している。裏の事情に興味のあるむきはご覧いただきたい。</p>
<p>順序はこだわらない。どれからでも、どうぞ。なお、文書の校正はできるだけ注意を払うが、漢字、カナの用いかたに迷っているところがある。ある程度の段階で整理されることがある。作者のお断りである。</p>
<ul><li><a href="ez_edonozan.html">江戸の残照、「旧石神井川」まで</a></li></ul>
<ul><li><a href="kg_ubume.html">謎解き京極、姑獲鳥の夏</a></li></ul>
<ul><li><a href="kg_moryo.html">謎解き京極、魍魎の匣</a></li></ul>
<ul><li><a href="kg_kyoko.html">謎解き京極、狂骨の夢</a></li></ul>
<ul><li><a href="kg_tesso.html">謎解き京極、鉄鼠の檻</a></li></ul>
<ul><li><a href="kg_joro.html">謎解き京極、絡新婦の理</a></li></ul>
<ul><li><a href="kg_nurisita.html">謎解き京極、塗仏の宴、宴の支度</a></li></ul>
<ul><li><a href="kg_nurisima.html">謎解き京極、塗仏の宴、宴の始末</a></li></ul>
<ul><li><a href="km_dr.html">私の奇妙な夢</a></li></ul>
<ul><li><a href="kz_sono1.html">数ぞう君の夢(その１)</a>、<a href="kz_sono2.html">(その２)</a>、<a href="kz_sono3.html">(その３)</a></li></ul>
<ul><li><a href="hahakoto.html">母のこと</a></li></ul>
<ul><li><a href="maetato.html">前置き例えに富む話し</a></li></ul>
<ul><li><a href="sg_tobira.html">文庫の作業場<b>(新規)</b></a></li></ul>
<p>og55344**gd6.so-net.ne.jp</p>
</p>
<p>この 文庫にご意見、感想のある方。どうかこのメールアドレスまでお寄せいただきたい。かならずしも個別にお返事をしないと思うが参考にさせていただく。よろしくお願いする。</p>
<p>(注) この「**」を「@」に変えて入力するようお願いする。わずらわしいことだがよろしくお願いする。</p>
<%= yield %>
  </p>
  <div id="footer">
<%= render "shared/footer" %>
  </div>
</div>

</body>
</html>
